<div class="footer">
  <div class="main-foot">
    <div class="location">
      <h1>Location</h1>
      <h2>Islamabad</h2>
      <h2>Karachi</h2>
      <h2>Lahore</h2>
      <h2>Faisalabad</h2>
    </div>
    <div class="contact">
      <h1>Contact</h1>
      <h2>0900-78601</h2>
      <h2>pir@pri.com</h2>
      <h2>facebooklogo</h2>
      <h2>Insta</h2>
    </div>
    <div class="partners">
      <h1>Partners</h1>
      <h2>Nike</h2>
      <h2>Puma</h2>
    </div>
  </div>
<h4 class="end">2020 PriSports Pakistan. All Rights Reserved. Site By 69WebServices</h4>
</div>
