
<div class="page">
  <div class="text">
    <h1>Login</h1>
  </div>
  <div class="login-box" (click)="close()">
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <div class="email">
        <h4>email:</h4>
        <input type="email" ngModel #emailInput="ngModel" name="email" required>
        <h5 *ngIf="emailInput.invalid">Enter Valid Email</h5>
      </div>
      <div class="password">
        <h4>Password</h4>
        <input type="password" name="password" ngModel #passwordInput="ngModel" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</div>


