<div class="page2">
  <div class="heading-div">
    <h2 class="heading">Coaching For</h2>
    <h1 class="underline"></h1>
  </div>

  <div class="sports">
    <div class="img1">
      <h2 class="caption1">Badminton</h2>
      <div class="overlay-page2"></div>
      <img src="./../../assets/badminton.jpg" alt="">


    </div>
    <div class="img2">
      <div class="overlay-page2"></div>
      <h2 class="caption1">Table Tennis</h2>
      <img src="./../../assets/Tabeltennis.jpeg" alt="">
    </div>
    <div class="img3">
      <h2 class="caption">Squash</h2>
      <div class="overlay-page2"></div>
      <img src="./../../assets/Squash.jpg" alt="">

    </div>
    <div class="img4">
      <div class="overlay-page2"></div>
      <h2 class="caption">Tennis</h2>
      <img src="./../../assets/tennis.jpg" alt="">

    </div>
  </div>
  <div class="content">
    <p>
      We have the best coaching system in the twin cities blah blah blah.
      State of the art training facilities blah blah blah.
      (Basically a text box here)
    </p>
  </div>

</div>

