<div class="page4">
  <div class="first">
    <div class="content-box1">
      <h1 class="info-head1">Fuel Yourself</h1>
      <h2 class="info1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Quisque vulputate imperdiet urna, eget rutrum lorem consectetur eget.
      Vivamus eget urna tortor. Donec vel porta nibh. </h2>
    </div>

    <img src="../../assets/rest.jpg" alt="">
  </div>

  <div class="second">
    <img src="../../assets/nikepng.png" alt="">
    <div class="content-box2">
      <h1 class="info-head2">Get Exclusive Deals</h1>
      <h2 class="info2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Quisque vulputate imperdiet urna, eget rutrum lorem consectetur eget.
     Vivamus eget urna tortor. Donec vel porta nibh. </h2>
    </div>
  </div>
</div>

