.page4{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.first{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.first img{
  width: 600px;
  height: 400px;
}
.second{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.content-box1{
  width: 60.5%;
  padding-left: 50px;
  background-color: rgb(197, 197, 197);
}
.content-box1 h1{
  font-size: 60px;
  font-weight: bolder;
  padding:20px 0 10px 0;
}
.content-box1 h2{
  margin:20px 20px 0 0;
}
.content-box2 h1{
  font-size: 60px;
  font-weight: bolder;
  padding:20px 0 10px 0;
}
.content-box2 h2{
  margin:20px 20px 0 0;
}
.content-box2{
  width: 60.5%;
  padding-left: 50px;
  background-color: rgb(197, 197, 197);
}
.second img{
  width: 600px;
  height: 400px;
}
@media screen and (max-width:598px){
  .content-box1{
    width: 100%;
    padding-bottom: 50px;
  }
  .content-box2{
    width: 100%;
    padding-top: 50px;
  }
  .second img{
    padding-left: 0px;
  }
}
