<div class="page3">
  <div class="first">
    <div class="content-box1">
      <h1 class="info-head1">Never Stop Playing</h1>
      <h2 class="info1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Quisque vulputate imperdiet urna, eget rutrum lorem consectetur eget.
      Vivamus eget urna tortor. Donec vel porta nibh. </h2>
    </div>

    <img src="../../assets/playingtennis.jpg" alt="">
  </div>

  <div class="second">
    <img src="../../assets/1on1.jpeg" alt="">
    <div class="content-box2">
      <h1 class="info-head2">One on One Challenges</h1>
      <h2 class="info2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Quisque vulputate imperdiet urna, eget rutrum lorem consectetur eget.
     Vivamus eget urna tortor. Donec vel porta nibh. </h2>
    </div>
  </div>
</div>

