.page{
  margin-top:30px;
}
.text{
  position: relative;
  margin-bottom: 30px;
}
.text h1{
  font-size: 50px;
  text-align: center;
}
.text p{
  font-size: 25px;
  text-align: center;
}
.signup-box{
  width: 400px;
  height: 600px;
  margin: auto;
  left:0;
  top:0; bottom:0;
  border-radius: 3px;
  max-width:100%;
  max-height:100%;
  overflow:auto;

  border: 2px solid black;
}
.name{
  margin-left: 50px;
  margin-top: 50px;
}
.email{
  margin-left: 50px;
  margin-top: 50px;
}
.password{
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
}
button{
  margin-left: 50px;
  margin-bottom: 30px;
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
  border-radius: 3px;
}
button:hover{
  transition: 0.5s;
  background-color: black;
  color: white;
}
h4{
  font-size: 30px;
  padding-bottom: 20px;
}
input{
  padding:10px;
  width: 300px;
  border-radius: 2px;
  font-size: 15px;
}
.game{
  display: flex;
  margin-bottom: 20px;
}
.game-checks{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-checks input{
  width: 20%;
}

.game-labels{
  margin-left: 50px ;
  margin-right: 30px;
}

.choose-head{
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 10px;
}



.rank{
  display: flex;
  margin-bottom: 30px;
}
.buttons{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.buttons input{
  width: 20%;
}
.labels{
  margin-left: 50px ;
  margin-right: 30px;
}


@media screen and (max-width:400px){
  .signup-box{
    width: 300px;
    height: 550px;

  }

  .name{
    margin-left: 20px;
    margin-top: 50px;
  }
  .email{
    margin-left: 20px;
    margin-top: 50px;
  }
  .password{
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  input{
    padding:10px;
    width: 250px;
    border-radius: 2px;
    font-size: 15px;
  }

  button{
    margin-left: 20px;
  }

}

