<div class="row">
    <div class="col-md-6">
        <h3 class="logo-db">WELCOME, {{user.name }} </h3>
        <input type="submit" class="btn" value="Mark Attendence">

        <input type="button" class="btn" value="Details">

        <hr style="margin-top: 49px; border: 1  px solid;">
    </div>
    <div class="col-md-6">

        <app-file-upload></app-file-upload>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <h3> SUMMARY: </h3>
        <h5>Rank: </h5>
    </div>
</div>