header{
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.info{
  margin-top: 120px;
  display: flex;
  justify-content: space-evenly;
}
.img{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head h1{
  font-size: 60px;
}
.stats h1{
  font-size: 60px;
}
.details{
  display: flex;
  margin-bottom: 50px;
}

.img img{
  width: 100%;
  flex-shrink: 0;
}
.img{
  width: 30%;
}
.details a{
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-right: 50px;
  margin-top: 20px;
  border: 3px solid black;

}
.details a:hover{
  color:white;
  background-color: black;
  transition: 0.5s;
}
.stats h4{
  margin-top: 30px;
}
@media screen and (max-width:1272px){
    img{
      width: 100%;
    }
    .img{
      width: 40%;
    }
}
@media screen and (max-width:878px){
  .img{
    width: 40%;
  }
  .info{
    flex-wrap: wrap;
  }
}
@media screen and (max-width:635px){
  .img{
    width: 80%;
    padding: 20px 0px 15px 0px;

  }
  .info{
    padding: 0 10px 0 10px;
  }
  .head h1{
    font-size: 40px;
  }
  .stats h1{
    font-size: 40px;
  }
}

@media screen and (max-width:640px){
  .img{
    width: 100%;
    padding: 20px 0px 15px 0px;

  }

}
