<header>
  <app-nav-other></app-nav-other>
</header>
<div class="info">
  <div class="main">
    <div class="head">
      <h1>Welcome, {{ name }}</h1>
    </div>

    <div class="details">
      <a href="#">Mark Attendance</a>
      <a href="#">Other Details</a>
    </div>

    <div class="stats">
      <h1>Today's Summary</h1>
      <h4>Rank: {{ rank }}</h4>
      <h4>Practice Sessions: </h4>
    </div>
  </div>
  <div class="img">
    <img src="../../assets/dash-default.jpg" alt="none">
  </div>

</div>




